<!DOCTYPE html>
<html>
<head>
	<title>Project</title>
	<link rel="stylesheet"  href="css/styles.css">

</head>
<body>
	<div class = "container">
		
			<h1>DAILY WORK</h1>
			<a href = "/" class = "f">Home</a>
			<a href = "/about" class = "s">About</a>
			<a href = "/contact" class = "t">Contact</a>
		
	</div>